[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
fastapi = "*"
uvicorn = "*"
numpy = "*"

[dev-packages]

[scripts]
app = "uvicorn app:app --host 0.0.0.0 --reload"
